#top{
    display: flex;
    flex: 1;
    height: 25vh;
    width: auto;
    background-color: aquamarine;
}

#mid{
    display: flex;
    flex: 1;
    height: 50vh;
    width: auto;
    background-color: gainsboro;
    align-items: center;
    justify-content: center;
}

#bot{
    display: flex;
    flex: 1;
    height: 25vh;
    width: auto;
    background-color: aquamarine;
}

#calcBox {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 300px;
    background-color: beige;
    align-items: center;
    justify-content: center;
}
#screenBox {
    display: flex;
    height: 60px;
    width: 300px;
    background-color: goldenrod;
    margin-bottom:  50px;
    align-items: center;
    justify-content: right;
}

#screen {
    font-size: 50px;
}


.buttons{
    height: 50px;
    width: 50px;
    margin: 2px;
}