@font-face{
    font-family:'digital-clock-font';
    src: url('./font/digital.ttf');
   }
html{
    background-image: url("./img/background.jpg");
    background-size: cover;
}
body {
    padding:0;
    margin:0;
}


#top{
    display: flex;
    flex: 1;
    height: 10vh;
    width: auto;

}

#mid{
    display: flex;
    flex: 1;
    height: 80vh;
    width: auto;
    align-items: center;
    justify-content: center;
}

#bot{
    display: flex;
    flex: 1;
    height: 8vh;
    width: auto;

}

#calcBox {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 300px;
    background-color: #625D5D;
    align-items: center;
    justify-content: center;
    margin: 0px;
    border: 5px solid #232023;
    border-radius: 10px;

}

#screenBox {
    font-family:'digital-clock-font';
    display: flex;
    height: 60px;
    width: 280px;
    background-color: #009933;
    margin-bottom:  50px;
    align-items: center;
    justify-content: right;
    border: 2px solid #5E716A;
    border-radius: 10px;
    box-shadow: inset 10px 10px 55px 10px rgba(0,0,0,0.5);
}

#screen {
    font-size: 50px;
}

#buttonBox{
    background-color:  #A9A9A9;
    border-radius: 10px;
    
}

.buttons{
    background-color: #DCDCDC;
    height: 50px;
    width: 50px;
    margin: 2px;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.9);
}

#lowestButtons {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    
}

.lowButtons{
    align-self: center;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.9);
    
}

#equalButton{
    width: 163px;
}

#clearButton {
    width: 106px;
    background-color: #ff6700;
}

#cc{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #B6B6B4;
    width: auto;
    height: 2vh;
}